  <html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="page-header">
      <h1>About Me</h1>
      <h4 class="subheader">I graduated in May of 2020 from Saint Anselm College with a double major in computer science and business & economics. I have experience with Python, Java, and C++.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/codeImage.jpg" />
      <p>My name is Chrisina.</p>
    </div>
  </main>
</body>
</html>
