  <html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="page-header">
      <h1>About Me</h1>
      <h4 class="subheader">I graduated from Saint Anselm College in May of 2020 with a double major in computer science and business & economics. I am an aspiring software engineer. I have experience with Python, Java, and C++.</h4>
    </div>
    <div class="content">
      <img src="/images/SeniorPic2020.JPG" alt="My Senior Picture"/>
      <p>My name is Christina.</p>
    </div>
  </main>
</body>
</html>
