  <html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="page-header">
      <h1>About Me</h1>
      <h2 class="subheader">I graduated from Saint Anselm College in May of 2020 with a double major in computer science and business & economics. I have experience coding in Python, Java, and C++.</h2>
    </div>
    <div class="content">
      <img src="/images/SeniorPic2020.JPG" alt="My Senior Picture" style="width:350px;height:500px;"/>
      <h3>Most of my coding experience has been backend, which is why I have decided to work on this WebApp, to gain more experience with frontend.</h3>
      <h1>  </h1>
      <h4>I am from Medford, Massachusetts but currently reside in Melrose, Massachusetts.</h4>
      <h5>I love playing volleyball. I usually play setter. Fun fact: my college intramural volleyball team won the league three years in a row!</h5>
      <h4> I love working out, especially HIIT workouts. I am currently working towards becoming a certified personal trainer and a small group fitness instructor.</h4>
    </div>
  </main>
</body>
</html>
