  <html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="page-header">
      <h1>About Me</h1>
      <h3 class="subheader">I graduated from Saint Anselm College in May of 2020 with a double major in computer science and business & economics. I have experience coding in Python, Java, and C++.</h3>
    </div>
    <div class="center">
      <img src="/images/SeniorPic2020.JPG" alt="My Senior Picture" style="width:350px;height:500px;"/>
      <h3>Most of my coding experience has been backend, which is why I have decided to work on this WebApp, to gain more experience with frontend.</h3>
      <h1>  </h1>
      <h4> My three sisters are my best friends.</h4>
      <h4> Game days for the Patriots are like holidays at my house.</h4>
      <h4> I'm currently pursuing certifications to become a personal trainer and a small group fitness instructor.</h4>
    </div>
  </main>
</body>
</html>
