<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main class="contact-container">
    <div class="page-header">
      <h1>Feel free to say hello!</h1>
    </div>
    <div class="content">
      <a class="contact-icon-link" href="https://www.linkedin.com/in/christina-mclellan-91457614a/" target="_blank">
         <i class="contact-icon fa fa-linkedin-square"></i>
      </a>
      <a class="contact-icon-link" href="https://github.com/cmclellan22" target="_blank">
        <i class="contact-icon fa fa-github-square"></i>
      </a>
      <a class="contact-icon-link" href="https://www.facebook.com/talia.swartz.1" target="_blank">
        <i class="contact-icon fa fa-facebook-square"></i>
      </a>
    </div>
  </main>
</body>
</html>
