<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="page-header">
      <h1>Courses</h1>
      <h2>Overall GPA: 3.38</h2>
      <h1> </h1>
      <h3 class="subheader">Computer Science Related Courses</h3>
      <h4>Computer Science Major Specific GPA: 3.67</h4>
    </div>
    <!-- <div class="container">
      <div class="code-container">
        <img src="/images/facebook.png"/> -->
        <div>
            <h5>Computing 1: Python</h5>
            <h1> </h1>
            <h5>Computing 2: C++</h5>
            <h1> </h1>
            <h5>Discrete Mathematics</h5>
            <h1> </h1>
            <h5>Data Structures and Algorithms (Java)</h5>
            <h1> </h1>
            <h5>Computer Architecture</h5>
            <h1> </h1>
            <h5>Database Management</h5>
            <h1> </h1>
            <h5>Computer Networks and Security</h5>
            <h1> </h1>
            <h5>Systems Software Development</h5>
            <h1> </h1>
            <h5>Programming Paradigms</h5>
            <h1> </h1>
            <h5>Computer Forensics</h5>
      </div>
    </div>
     
</div>
    
    
    <div class="page-header">
        <h3 class="subheader">Business and Economic Related Courses</h3>
        <h4>Business & Economics Major Specific GPA: 3.30</h4>
      </div>
      <!-- <div class="container">
        <div class="code-container">
          <img src="/images/facebook.png"/> -->
          <div>
            <h5>Financial Accounting</h5>
            <h1> </h1>
            <h5>Cost Accounting</h5>
            <h1> </h1>
            <h5>Business Statistics</h5>
            <h1> </h1>
            <h5>Human Resource Management</h5>
            <h1> </h1>
            <h5>International Business Management</h5>
            <h1> </h1>
            <h5>Principles of Microeconomics</h5>
            <h1> </h1>
            <h5>Principles of Macroeconomics</h5>
            <h1> </h1>
            <h5>Financial Management</h5>
            <h1> </h1>
            <h5>Intro to Marketing</h5>
            <h1> </h1>
            <h5>Integrated Marketing Communications</h5>

        </div>
      </div>
    
    </div>

  </main>
</body>
</html>