<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Christina McLellan</h1>
      <p>Welcome to my personal website!</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/zsobin/PersonalWebApp" target="_blank" role="button">See the repo</a></p>
    </div>
    <div class="center">
      <img src="/images/GradPic.JPG" alt="My Graduation Picture" style="width:350px;height:500px;"/>
    </div>
  </main>

</body>
</html>
