<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="page-header">
      <h1>My Resume</h1>
      <h4 class="subheader">email: cmclellan224@gmail.com</h4>
      <h4 class="subheader">phone: 781-258-6596</h4>
    </div>
    <!-- <div class="container">
      <div class="code-container">
        <img src="/images/facebook.png"/> -->
        <div>
          <h3>Education:</h3>
          <p>Bachelor's Degree from Saint Anselm College</p>
          <p>Double Major: Computer Science and Business & Economics</p> 
      </div>
    </div>
    <!-- <div class="code-container">
      <img src="/images/spotify.png"/> -->
      <div>
        <h3>Notable Experiences:</h3>
        <h4>Alumni Ventures Group - Engineering Intern</h4>
        <p>   2019-2020 Academic Year</p>
        <h4>HubSpot - Security Operations Engineering Intern</h4>
        <p>   Summer 2019, Winter 2019-2020</p>
        <h4>Alumni Ventures Group - Engineering Intern</h4>
        <p>   2019-2020 Academic Year</p>
        <h4>HubSpot - Security and Compliance Intern (Winter 2018-2019)</h4>
        <p>   Winter 2018-2019</p>
        <h4>HubSpot - Helpdesk Intern</h4>
        <p>   Summer 2018</p>
        <h4>HubSpot - Systems Administrator Intern</h4>
        <p>   Winter 2017-2018</p>
        <h4>Saint Anselm College - Resident Assistant</h4>
        <p>   2017-2018 Academic Year</p>
      </div>
    </div>
    <!-- <div class="code-container">
      <img src="/images/google.png"/> -->
      <div>
        <h3>Leadership Opportunities:</h3>
        <h4>National Society of Leadership and Success - Member and Publicity Chair</h4>
        <p>•	Selected by college for membership based on academic standing and leadership potential. Earned distinction with nomination and completed the leadership program requirements to achieve induction</p>
        <h4>Delta Epsilon Sigma - Honors Society Member</h4>
        <p>•	Election based on GPA and disciplinary record. Requirement of being within the top 20% of graduating class</p>
        <h4>Sigma Beta Delta - Honors Society Member</h4>
        <p>•	Election Election for business majors based on GPA and disciplinary record. Requirement in the top 20% of graduating class</p>
      </div>
    </div>

  </main>
</body>
</html>