<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../pages/navbar.ejs %>
  </header>

  <main>
    <div class="page-header">
      <h1>My Resume</h1>
      <h4 class="subheader">email: chrissymc6@yahoo.com      phone: 781-258-6596</h4>
    </div>
    <!-- <div class="container">
      <div class="code-container">
        <img src="/images/facebook.png"/> -->
        <div>
          <h3>Education:</h3>
          <p>Bachelor of Business and Bachelor of Computer Science. Dean's List: Fall 2016, Spring 2017, Spring 2018, Fall 2018</p>
      </div>
    </div>
    <!-- <div class="code-container">
      <img src="/images/spotify.png"/> -->
      <div>
        <h3>Professional Experience:</h3>
        <p>Security and Compliance Intern, HubSpot (Winter 2018-2019)</p>
        <p>Helpdesk Intern, Hubspot (Summer 2018)</p>
        <p>Systems Administrator Intern, Hubspot (Winter 2017-2018)</p>
        <p>Resident Assistant, Saint Anselm College (Academic Year 2017-2018)</p>
        <p>Campus Representative, Saint Anselm College (January 2017)</p>
      </div>
    </div>
    <!-- <div class="code-container">
      <img src="/images/google.png"/> -->
      <div>
        <h3>Leadership Opportunities:</h3>
        <p>Member and Publicity Chair, National Society of Leadership and Success (Fall 2018 - current)</p>
      </div>
    </div>

  </main>
</body>
</html>